@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background: #F2F2F2;
  max-width: 320px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  box-shadow: 0 5px 16px -5px rgba(38, 38, 38, 0.16);
  }
.logo {
  max-width: 107px;
}
.btn-sign-in,
.btn-register {
  padding: 14px 15px;
  max-width: 72px;
  border-radius: 2px;
  font-size: 11px; 
  line-height: 13px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.btn-sign-in {
  background: white;
  border: 1px solid #E0E0E0;
  margin-right: 6px;
  box-sizing: border-box;
  }
.btn-register {
  background: black;
  color: white;
  border: none;
  margin-right: 4px;
  margin-left: 6px;    
}
.basket {
  display: none;
}
  /* Стилизация строки поиска, времени, адреса*/
.form-search-restaurant {
  margin-top: 40px;
}
button {
  border: none;
}
input {
  border: none;
  background: #F2F2F2;
}
.btn-search-restaurant {
  background: #F2F2F2;
  outline: none;
}
.input-search-restaurant {
  font-size: 13px;
  color: #626262;
  font-family: 'Roboto', sans-serif;
}
hr {
  background-color: #626262;
}
.location-two {
  display: none;
}
.time p,
.location-to p {
  color: #626262;
  font-size: 11px;
  line-height: 13px;
}
.time div,
.adds-to {
  color: #1D1D1D;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  display: inline-block;
}
.time {
  margin-left: 8px;
}
.time div {
  padding: 8px 16px;
}
.location-to {
  margin-left: 16px;
  margin-right: 4px;
}
.adds-to   {
  position: relative;
  padding: 8px 43px 8px 11px;
}
.adds-to svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.adds-to div {
  margin-left: 20px;
}
.location {
  display: flex;
}
/*стилизация основного контента*/
.container {
  max-width: 976px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
.col-1 {
  flex-basis: 8.3333%;
}
.col-2 {
  flex-basis: 16.6666%;
}
.col-3 {
  flex-basis: 24.9999%;
}
.col-4 {
  flex-basis: 33.3333%;
}
.col-5 {
  flex-basis: 41.6665%;
}
.col-6 {
  flex-basis: 49.9998%;
}
.col-7 {
  flex-basis: 58.3331%;
}
.col-8 {
  flex-basis: 66.6664%;
}
.col-9 {
  flex-basis: 74.9997%;
}
.col-10 {
  flex-basis: 83.3333%;
}
.col-11 {
  flex-basis: 91.6663%;
}
.col-12 {
  flex-basis: 100%;
}
.card:nth-child(n+5) {
  display: none;
}
.card {
  padding-bottom: 36px;
}
h2 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  padding-left: 8px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 14px 36px 4px 0;
}
.cuisine {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 0 0 4px 0; 
}
.time-delivery {
  margin: 0;
}
.card:nth-child(4) {
  padding-bottom: 48px;
}
.col-6 {
  display: none;
}
/*стилизация подвала*/
footer {
  background: #262626;
  color: #FFFFFF;
}
.logo-footer {
  padding: 56px 120px 40px 8px;
}
.line-footer {
  background:  #FFFFFF;
  margin: 0;
  border: 0.5px solid white;
}
.language {
  display: inline-block;
  color: #FFFFFF;
  background: #3B3B3B;
  font-size: 13px;
  line-height: 15px;
  margin: 32px 0 32px 8px;
  position: relative;
}
.language p {
  display: inline-block;
  padding-left: 48px;
}
.logo-world {
  padding-right: 16px;
  padding-left: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer-list-arrow {
  padding-left: 49px;
  padding-right: 8px;
}
.social-networks p {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 0;
}
.social-networks .lattice {
  color: #49A144;
  padding-left: 8px;
}
.logo-social {
  display: flex;
  padding-left: 8px;
  padding-bottom: 44px;
}
.logo-social-inst {
  align-self: center;
}
.logo-social svg {
  margin-right: 20px;
}
/*стилизация навигации в подвале*/
nav {
  display: flex;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  padding-bottom: 23px;
  padding-left: 8px;
}
nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  
}
.app-link {
  padding: 24px;
  display: flex;
}
.app-link a:first-child {
  margin-right: 25px;
}
address {
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  padding-top: 40px;
  position: relative;
  padding-bottom: 16px;
}
address p {
  padding-bottom: 24px;
  padding-left: 8px;
  margin: 0;
}
address p a {
  color: #FFFFFF;
  text-decoration: none;
}
.btn-up {
  position: absolute;
  top: 79px;
  right: 16px;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
  }
  .location {
    display: none;
  }
  
  .basket {
  display: block;
  }
  .location-two {
  display: flex;
  }
.time-two div,
.adds-to-two {
  color: #1D1D1D;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  display: inline-block;
}
.adds-to-two {
  position: relative;
}
.adds-to-two svg {
  position: absolute;
  bottom: 12px;
  left: 16px;
}
.adds-to-two div {
  padding:8px 30px 8px 36px;
}
.time-two div {
  padding: 8px 16px;
}
.time-two::after {
  content: "to";
  color: #626262;
  font-size: 11px;
  line-height: 13px;
  margin: auto 10px;
}
.location-to-two p {
  color: #626262;
  font-size: 13px;
  line-height: 15px;
}
.btn-register {
  margin: auto;
  padding: auto;
}
.col-md-1 {
  flex-basis: 8.333333%;
}
.col-md-2 {
  flex-basis: 16.666667%;
}
.col-md-3 {
  flex-basis: 25%;
}
.col-md-4 {
  flex-basis: 33.333333%;
}
.col-md-5 {
  flex-basis: 41.666667%;
}
.col-md-6 {
  flex-basis: 50%;
}
.col-md-7 {
  flex-basis: 58.333333%;
}
.col-md-8 {
  flex-basis: 66.666667%;
}
.col-md-9 {
  flex-basis: 75%;
}
.col-md-10 {
  flex-basis: 83.333333%;
}
.col-md-11 {
  flex-basis: 91.666667%;
}
.col-md-12 {
  flex-basis: 100%;
}
.card:nth-child(n+5) {
  display: block;
}
img {
  width: 100%;
}
.app-link div  {
  margin:  auto;
  padding: 14px 0;
}
address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 768px;
  padding-right: 217px;
}
.btn-up {
  top: 24px;
  right: 16px;
}
.lang-soc-nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}
nav ul {
  display: flex;
  flex-direction: row;
}
ul div {
  padding: 39px 86px 0 0;
}
.language {
  margin-right: 80px;
}

}

@media screen and (min-width: 1124px) {
html {
  background-color: #d9d9d9;
}
body {
  min-width: 1124px;
  background-color: #FFFFFF;
}
.btn-sign-in {
  padding: 14px 18px;
}
main  {
  margin: auto 80px 80px;
}
.row h2 {
  margin-left: 8px;
}
.row .card img {
  width: 100%;
} /* ширина 100% потому что первые 4 карточки отображатся размером меньше,
чем остальные*/
.col-xl-1 {
  flex-basis: 8.333333%;
}
.col-xl-2 {
  flex-basis: 16.666667%;
}
.col-xl-3 {
  flex-basis: 25%;
}
.col-xl-4 {
  flex-basis: 33.333333%;
}
.col-xl-5 {
  flex-basis: 41.666667%;
}
.col-xl-6 {
  flex-basis: 50%;
}
.col-xl-7 {
  flex-basis: 58.333333%;
}
.col-xl-8 {
  flex-basis: 66.666667%;
}
.col-xl-9 {
  flex-basis: 75%;
}
.col-xl-10 {
  flex-basis: 83.333333%;
}
.col-xl-11 {
  flex-basis: 91.666667%;
}
.col-xl-12 {
  flex-basis: 100%;
}
.input-search-restaurant,
.btn-search-restaurant {
  background-color: #FFFFFF;
}
.btn-up {
  right: -116px;
}
